*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* DISPLAY */
.flex{
    display: flex;
}

.al-it{
    align-items: center;
}

.al-it-bs{
    align-items: baseline;
}

.jc-cen{
    justify-content: center;
}

.fd-col{
    flex-direction: column;
}

.jc-sp-bet{
    justify-content: space-between;
}

.fl-wrap{
    flex-wrap: wrap;
}

.disp-non{
    display: none;
}

.disp-in-bl{
    display: inline-block;
}

.disp-bl{
    display: block;
}

/* SIZE */

.font-size-big{
    font-size: 20px;
}

.small{
    width: 30px;
}

.smaller{
    width: 20px;
}

.txt-heavy{
    font-weight: bold;
}

.txt-al-cent{
    text-align: center;
}

.w-100{
    width: 100%;
}

/* PADDING-MARGIN */
.pad{
    padding: 5px 0px;
}

.pad-med{
    padding: 10px 0px;
}

.pad-wid{
    padding: 10px;
}

.pad-wid-small{
    padding: 5px;
}

/* COLOR */
.txt-white{
    color: white;
}
.txt-gray{
    color: #6d6d6d;
}
/* COLOR */




/* HOVER */

/* TOP-CONTENT */
#upgrade-abs:hover{
    transform: scale(1.1);
}

/* MAIN-MENU-TOP */
.txt-gray.disp-in-bl.pad-wid.txt-heavy:hover{
    color: white;
    cursor: pointer;
}
/* MAIN-MENU-TOP */

/* SIDE-MENU */
span.disp-non.txt-white:hover{
    cursor: pointer;
}

span.disp-non.txt-gray:hover{
    color: white;
    cursor: pointer;
}

div.hidden.disp-non>span.txt-gray:hover{
    color: white;
    cursor: pointer;
}

#plus:hover{
    color: black;
    cursor: pointer;
    background-color: white;
}

li.txt-gray:hover{
    color: white;
    cursor: pointer;
}
/* SIDE-MENU */

/* FOOTER */

/* SX-CONTENT */
div.album-title>span.txt-gray:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
a.txt-gray:hover{
    color: white;
}
/* SX-CONTENT */

/* CENT-CONTENT */
#zoom-circle:hover{
    transform: scale(1.5);
}
/* FOOTER */

/* HOVER */







/* TOP-CONTENT */
.top-content{
    height: 100px;
    background-color: #080b12;
    position: fixed;
    left: 50px;
    right: 0;
    top: 0;
    padding: 20px;
    opacity: 0.8;
}

#upgrade-abs{
    position: absolute;
    right: 10px;
    padding: 15px 50px;
    background: #080b12;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    text-decoration: none;
}
/* TOP-CONTENT */

/* SIDE-MENU */
.side-menu{
    height: calc(100vh - 100px);
    padding: 10px;
    text-align: center;
    background-color: black;
    overflow: hidden;
}

hr{
    margin-bottom: 10px;
}

#profile{
    background-color: gray;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 2px;
}

#plus{
    color: black;
    padding: 10px;
    background-color: gray;
}

.hidden{
    text-align: left;
}

.side-list{
    list-style: none;
    padding: 10px 0px;
    line-height: 1.5;
    overflow: auto;
    height: 190px;
    min-height: 140px;
}
/* SIDE-MENU */

/* MAIN-CONTENT */
.main-content{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #141922;
    overflow: auto;
}

/* MAIN-MENU-TOP */
.option-menu{
    margin-top: 100px;
    list-style: none;
    text-align: center;
    line-height: 1.5;
}
/* MAIN-MENU-TOP */

/* CARD-ALBUMS */
.title{
    padding: 30px 10px;
}

.img-card{
    width: calc(100% / 2);
}
/* CARD-ALBUMS */

/* FOR-JOHN */
.title-john{
    padding: 30px 10px 10px 10px;
}
/* FOR-JOHN */

/* POPULAR-ARTIST */
.circle-img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
/* POPULAR-ARTIST */

/* MAIN-CONTENT */

/* FOOTER */
.footer-content{
    height: 100px;
    width: 100%;
    background-color: #282828;
}

.sx-content, .dx-content{
    width: 25%;
}

.album-title{
    margin-right: 10px;
}

.album-title>h3{
    font-size: 15px;
}

.cent-content{
    width: 45%;
    text-align: center;
}

.cent-content-vol{
    width: 100%;
    border-bottom: 5px solid #6d6d6d;
    margin: 5px;
}

.txt-small{
    font-size: 10px;
    font-weight: bold;
    margin-top: 15px;
}

.dx-content-vol{
    border-top: 5px solid #6d6d6d;
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
}
/* FOOTER */

/***********
 RESPONSIVE
************/
@media all and (min-width: 600px){}

@media all and (min-width: 601px){
    /* TOP-CONTENT */
    .top-content{
        left: 205px;
    }
    /* TOP-CONTENT */

    /* SIDE-MENU */
    .side-menu{
        width: 300px;
    }
    .logo{
        display: none;
    }
    .logo-big{
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
    }
    span.disp-non{
        display: inline;
        padding: 5px;
    }
    div.flex.al-it.jc-cen{
        justify-content: flex-start;
    }
    .hidden.disp-non{
        display: block;
    }
    /* SIDE-MENU */
}
@media all and (min-width: 701px){
    /* CARD-ALBUMS */
    .img-card{
        width: calc(100% / 4);
    }
    /* CARD-ALBUMS */

    /* FOR-JOHN */
    .for-john{
        width: calc(100% / 2);
    }
    /* FOR-JOHN */

    /* FOOTER */
    .sx-content, .dx-content{
        width: 230px;
    }
    .album{
        padding: 10px;
    }
    .album.pad-wid-small>img{
        width: 60px;
    }
}

@media all and (min-width: 1100px){
    /* CARD-ALBUMS */
    .img-card{
        width: calc(100% / 6);
    }
    /* CARD-ALBUMS */
}